@mixin Font__10-10 {
    font-size: 10px;
    line-height: 10px;
}

@mixin Font__12-12 {
    font-size: 12px;
    line-height: 12px;
}

@mixin Font__12-20 {
    font-size: 12px;
    line-height: 20px;
}

@mixin Font__14-14 {
    font-size: 14px;
    line-height: 14px;
}

@mixin Font__14-24 {
    font-size: 14px;
    line-height: 24px;
}

@mixin Font__15-24 {
    font-size: 15px;
    line-height: 24px;
}

@mixin Font__16-16 {
    font-size: 16px;
    line-height: 16px;
}

@mixin Font__16-20 {
    font-size: 16px;
    line-height: 20px;
}

@mixin Font__16-24 {
    font-size: 16px;
    line-height: 24px;
}

@mixin Font__16-32 {
    font-size: 16px;
    line-height: 32px;
}

@mixin Font__18-18 {
    font-size: 18px;
    line-height: 18px;
}

@mixin Font__20-20 {
    font-size: 20px;
    line-height: 20px;
}

@mixin Font__20-32 {
    font-size: 20px;
    line-height: 32px;
}

@mixin Font__22-32 {
    font-size: 22px;
    line-height: 32px;
}

@mixin Font__24-24 {
    font-size: 24px;
    line-height: 24px;
}

@mixin Font__24-32 {
    font-size: 24px;
    line-height: 32px;
}

@mixin Font__26-36 {
    font-size: 26px;
    line-height: 36px;
}

@mixin Font__30-36 {
    font-size: 30px;
    line-height: 36px;
}

@mixin Font__32-38 {
    font-size: 32px;
    line-height: 38px;
}

@mixin Font__35-38 {
    font-size: 35px;
    line-height: 38px;
}

@mixin Font__40-40 {
    font-size: 40px;
    line-height: 40px;
}

@mixin Font__40-48 {
    font-size: 40px;
    line-height: 48px;
}

@mixin Font__48-56 {
    font-size: 48px;
    line-height: 56px;
}

@mixin Font__48-48 {
    font-size: 48px;
    line-height: 48px;
}

@mixin Font__128-128 {
    font-size: 128px;
    line-height: 128px;
}